* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
    max-width: 1000px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.filtros {
  display: flex;
  align-items: center;
  gap: 16px;

  background: #fff;
  padding: 16px 20px;
  border-radius: 12px;

  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.campo label {
  font-size: 12px;
  font-weight: 600;
  color: #475569;
}

input[type="datetime-local"],
select {
  height: 38px;
  padding: 0 12px;

  border-radius: 8px;
  border: 1px solid #cbd5f5;

  font-size: 14px;
  background: #fff;
  color: #0f172a;

  transition: border 0.2s, box-shadow 0.2s;
}

input[type="datetime-local"]:focus,
select:focus {
  outline: none;
  border-color: #DB0934;
  box-shadow: 0 0 0 3px rgba(37,99,235,0.15);
}

.btn {
  height: 34px;
  padding: 0 16px;

  border-radius: 12px;
  border: none;

  font-weight: 600;
  font-size: 14px;
  cursor: pointer;

  transition: transform 0.15s, box-shadow 0.15s;
}

.btn-filtrar { /* botão filtrar */
  background: #FF8308;
  color: #fff;
}

.btn-atualizar { /* botão atualizar */
  background: #FF8308;
  color: #fff;
}

.btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.12);
}

.btn:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px rgba(0,0,0,0.12);
}

select, button {
    padding: 6px 10px;
    font-size: 14px;
    cursor: pointer;
}

.header { /* header vermelho */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 58px;
  width: 100%;
  position: fixed;
  background: #DB0934;
  color: #fff;

  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
}

.logo img { /* logo patrus */
  height: 36px;
}

.nav {
  display: flex;
  gap: 24px;
}

.nav a {
  text-decoration: none;
  color: #cbd5f5;
  font-weight: 500;
  position: relative;
  padding-bottom: 4px;
}

.nav a:hover {
  color: #fff;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  transition: width 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.user img { /* imagem do usuário */
  height: 33px;
  width: 33px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}


